.bg-light{
    background-color: rgb(193, 178, 143) !important;
}
/* .btn-lg
{background-color : white;

} */

}
.card{
    margin: 0 auto;
    width: 80%;
}

/* .row .col:nth-child(odd) .card{
    background-color: rgb(187, 187, 187);
} */

